
body {
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: 400;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1064px;
    margin: 0 auto;
}

.header {
    padding: 15px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.header__nav {
    width: 395px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    font-style: 17px;
    font-weight: 700;
    color: #1C1B1B;
}

.header__logo {
    margin-left: 97px;
}

.header__icons {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
}


.main {
    background-color: #F0EFEB;
}

.main .container {
    display: flex;
    justify-content: space-between;
}

.main__offer {
    margin: 90px 0 95px 0;
}

.main__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

.main__title span {
    display: block;
}


.main__text {
    font-size: 24px;
    margin: 42px 0 37px 0;
    line-height: 28px;
    width: 480px;
}

.main__btn {
    background-color: #000;
    color: #fff;
    padding: 8px 26px 9px 26px;
    border-radius: 50px;
    font-size: 17px;
}

.main__img {
    margin: 9px -130px 0 0;
}


.sellers__head{
    text-align: center;
    margin-top: 60px;
}

.sellers__head p {
    font-size: 20px;
}

.sellers__head__text {
    margin: 27px auto 47px auto;
    width: 632px;
    line-height: 25px;
}

.sellers__head__desc {
    margin-bottom: 87px;
}


.sellers__wrapper h2{
    text-align: center;
}

.sellers__items{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 247px 0;
}

.sellers__item{
    text-align: center;
}

.sellers__item__title {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    width: 150px;
    margin: 20px auto 17px auto;
}

.sellers__item__price {
    font-size: 17px;
    margin-bottom: 11px;
}

.sellers__btn {
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
}


.info {
    background-color: #f0f0f0;
    padding: 76px 0 51px 0;
}

.info .container {
    display: flex;
}

.info__img {
    padding: 0 50px 0 0;
}

.info__content {
    padding-top: 69px;
}

.info__content p {
    font-size: 36px;
    padding: 33px 0 41px 0;
    width: 498px;
    line-height: 43px;
}

.info__content a {
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
}

.info_middle {
    background-color: #e0e0e0;
}

.info_middle .container {
    flex-direction: row-reverse;
    justify-content: end;
}

.info_middle .info__content {
    text-align: right;
    padding: 90px 50px 0 0;
}

.info_middle .info__img {
    padding: 0;
}

.info_last .info__content {
    padding: 90px 50px 0 0;
}

.info_last p {
    width: 550px;
} 